# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
**/node_modules/
**/package-lock.json

# Next.js build
farmo-app/.next/
farmo-app/out/
farmo-app/build/

# Expo build
farmo-mobile/.expo/
farmo-mobile/dist/
farmo-mobile/.eas/

# OS files
.DS_Store
Thumbs.db